@media (max-width: 768px) {
  .About{
    display:flex;
    flex-direction:column-reverse;
  }
  .choose-exercise{
    margin-top: 0px;
    margin-bottom: -10px;
    margin-left: -5px;
  }
  

  .margin-b-0{
    margin-bottom:0px;
  }
  .title{
    display: block;
  }

  .Purple-square{
    padding-top:40px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

  .Health-benefits{
    width: 90%;
    text-align: left;
    padding-top: 60px;
  }

  .list-p{
    margin-top: 5px;
    padding-bottom: 18px;
  }

  h3{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    font-size: 1.178rem;
  }

  ul {
    padding-inline-start: 10px;
  }

  li{
    color: white;
    font-size: 0.9425rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  ::marker{
    color:#cd44e8;
    font-size: .5rem;
  }

  p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
  }

  a{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-decoration:none;
  }
  #Benefits-text{
    overflow-y: scroll;
  }
}
/* ipad air */
@media (min-width: 769px) and (max-width: 821px){
  .Purple-square {
      width: 55vw;
      margin-left: -20%;
      margin-top: 75px;
  }
  .About{
    display:flex;
    justify-content: space-between;
    padding-top: 275px;
  }
  .Health-benefits{
    width: 40%;
    align-self: center;
  }

  .list-p{
    margin-top: 5px;
    padding-bottom: 18px;
    font-size: 0.753rem;
  }
  h3{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    font-size: 1.4rem;
  }

  ul {
    padding-inline-start: 10px;
  }

  li{
    color: white;
    font-size: 1.125rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  ::marker{
    color:#cd44e8;
    font-size: .75rem;
  }
  p{
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
  }

  a{
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-decoration:none;
  }

  a:hover{
    color: #E18A35;
  }

  #Benefits-text{
    overflow-y: scroll;
  }
}
@media (min-width: 822px) and (max-width: 1100px) {
  .About{
    display:flex;
    justify-content: space-between;
    padding-top: 275px;
  }

  .Purple-square{
    width: 55vw;
    margin-left: -20%;
  }

  .Health-benefits{
    width: 45%;
    align-self: center;
  }

  .list-p{
    margin-top: 5px;
    padding-bottom: 18px;
  }

  h3{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    font-size: 1.4rem;
  }

  ul {
    padding-inline-start: 10px;
  }

  li{
    color: white;
    font-size: 1.125rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  ::marker{
    color:#cd44e8;
    font-size: .75rem;
  }

  p{
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
  }

  a{
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-decoration:none;
  }

  a:hover{
    color: #E18A35;
  }

  #Benefits-text{
    overflow-y: scroll;
  }
}

@media (min-width: 1100px) and (max-width: 1249px) {
  .About{
    display:flex;
    justify-content: space-between;
    padding-top: 275px;
  }

  .Purple-square{
    margin: 0 calc((769px - 100vw)/2);
    width: 56vw;
  }

  .Health-benefits{
    width: 40%;
    align-self: center;
  }

  .list-p{
    margin-top: 5px;
    padding-bottom: 18px;
  }

  h3{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    font-size: 1.563rem;
  }

  ul {
    padding-inline-start: 10px;
  }

  li{
    color: white;
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  ::marker{
    color:#cd44e8;
    font-size: .75rem;
  }

  p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
  }

  a{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-decoration:none;
  }

  a:hover{
    color: #E18A35;
  }

  #Benefits-text{
    overflow-y: scroll;
  }
}

@media (min-width: 1250px) {
  .About{
    display:flex;
    justify-content: space-between;
    padding-top: 275px;
  }

  .Purple-square{
    width: 54vw;
    margin: 0 calc((1000px - 100vw)/2);
  }

  .Health-benefits{
    width: 40%;
    align-self: center;
  }

  .list-p{
    margin-top: 5px;
    padding-bottom: 18px;
  }

  h3{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    font-size: 1.563rem;
  }

  ul {
    padding-inline-start: 10px;
  }

  li{
    color: white;
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  ::marker{
    color:#cd44e8;
    font-size: .75rem;
  }

  p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
  }

  a{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-decoration:none;
  }

  a:hover{
    color: #E18A35;
  }

  #Benefits-text{
    overflow-y: scroll;
  }
}
