@media (max-width: 768px) {
.Adjust-container {
  width: 100%;
  /* padding-top: 40px; */
  margin-top: -45px;
}

.Color-circle {
  width: 270px;
  height: 90px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  padding-top: 180px;
  background-color: #6DE5BB;
  border-radius: 360px;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}
}
.Exercise-button{
  border:none;
  background-color:transparent;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size:1rem;
  padding-right: 25px;
}

:hover.Exercise-button{
  color:#E18A35;
}
.Adjust-container{
  width: 100%;
  padding-top: 40px;
}

.Exercise-container{
  height: 80vh;
  width:75.7vw;
  display: flex;
  justify-content: center;
}

.mtt-0{
  margin-top:0px;
  font-size: 1 rem;
}

.mb-0{
  margin-bottom:0px;
}
h3{
  font-size: 1.9375rem;
}
p{
  font-size:1rem;
}
