.margin-b-0{
  margin-bottom: 0;
}

.margin-t-0{
  margin-top: 0px;
}

.flex-1{
  display:flex;
  margin-top: -15px;
}
.ml-5{
  margin-left: 5px;
}

@media (max-width: 768px) {
  .selection-div{
    justify-self: center;
  }

  .white-arrow{
    /* margin-right: 55px; */
    color: white;
  }

  p{
    font-size: 0.8125rem;
  }
  .normal-p{
    font-size: 1rem;
  }


  .Bottom-border-flex{
    border-bottom: 0.75px solid white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .Adjust-container {
    width: 100%;
    /* padding-top: 40px; */
    margin-top: -45px;
  }
  .Selection-buttons-mobile {
    display: flex;
    flex-direction:column;
  }
  .Selection-buttons-desktop {
    display: none;
  }

  .Color-circle {
    width: 180px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    padding-top: 180px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .Adjust-exercise-gif{
    padding-top: 90px;
    margin-left: -45vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    left: 50%;
    width: 90vw;
  }

  .Exercise-container{
    display: none;
  }

  .Exercise-button{
    border:none;
    background-color:transparent;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size:1.25rem;
    text-align: left;
    margin-left: -7px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
  }

}

@media (min-width: 769px) and (max-width: 1000px)  {
  :hover.Exercise-button{
    color:#E18A35;
  }
  .selection-div{
    margin-top: 90px;
  }

  .Selection-buttons-mobile{
    display: none;
  }

  .Adjust-container{
    width: 80vw;
    padding-top: 40px;
    display:flex;

    flex-direction: row-reverse;
  }
  .flex-1{
    display:flex;
    flex-direction:column;
  }
  .selection-div{
    flex: 1;
  }
  .Selection-buttons-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .Exercise-button{
    border:none;
    background-color:transparent;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size:1rem;
    padding-right: 25px;
    padding-left: 0px;
  }
  .Exercise-container{
    height: 75vh;
    width:75.7vw;
    display: flex;
    flex: 1;
    justify-content: left;
    padding-left: 20px;
  }

  .mtt-0{
    margin-top:0px;
    font-size: 1 rem;
  }

  .mb-0{
    margin-bottom:0px;
  }
  h3{
    font-size: 1.9375rem;
  }
  p{
    font-size:1rem;
  }
  .Color-circle{
    height: 120px;
    width: 289px;
    padding-top: 180px;
    margin-top: 100px;
    background-color: #6DE5BB;
    border-radius: 360px;
  }
  .ml-5{
    margin-left: 0px;
  }
}


/* desktop */
@media (min-width: 1001px) {
  :hover.Exercise-button{
    color:#E18A35;
  }
  .selection-div{
    margin-top: 90px;
  }

  .Selection-buttons-mobile{
    display: none;
  }

  .Adjust-container{
    width: 80vw;
    padding-top: 40px;
    display:flex;

    flex-direction: row-reverse;
  }
  .selection-div{
    flex: 1;
  }

  .Exercise-button{
    border:none;
    background-color:transparent;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size:1rem;
    padding-right: 25px;
    padding-left: 0px;
  }
  .Exercise-container{
    height: 75vh;
    width:75.7vw;
    display: flex;
    flex: 1;
    justify-content: left;
    padding-left: 20px;
  }

  .mtt-0{
    margin-top:0px;
    font-size: 1 rem;
  }

  .mb-0{
    margin-bottom:0px;
  }
  h3{
    font-size: 1.9375rem;
  }
  p{
    font-size:1rem;
  }
  .Color-circle{
    height: 180px;
    width: 360px;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    padding-top: 180px;
    margin-top: 100px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
  }
}

.modal-testing{
  height: 100vh;
}
