@media (max-width: 768px) {
  .Full-height{
    height: 90vh;
  }
  .Full-height-home{
    margin-top: -100px;
  }
  .Wrapper {
    display:grid;
    grid-template-columns: repeat(1, auto);
    gap: 8px;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-content:center;
    height: 85vh;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }
  .Wrapper-2 {
    display:grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-content:center;
    height: 85vh;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }

  h1{
    font-size: 1.938rem;
    font-family: 'Lato', sans-serif;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .big-p{
    display:none;
  }

  .Call-action{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    /* padding-top: 50px; */
  }

  .Color-circle{
    width: 270px;
    height: 90px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    padding-top: 180px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .Button-container-desktop{
    display: none;
  }

  .Button-container-mobile{
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
  }

  .Random-button{
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 275px;
    height: 48px;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
  }

  .Adjust-button{
    color: white;
    background-color: #232323;
    border: solid 1px white;
    margin-top :15px;
    width: 275px;
    height: 48px;
    border-radius: 8px;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
  }

  .list-p{
    margin-top: 5px;
    padding-bottom: 18px;
  }

  .Secondary-random-button{
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 288px;
    height: 48px;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    margin-top: 40px;
  }

  .Secondary-color-circle{
    width: 270px;
    height: 90px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    padding-top: 180px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .Exercise-gif{
    padding-top: 80px;
    width: 85vw;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }

  .Fake-shuffle-btn{
    position: absolute;
    top: 70px;
    right: 160px;
    left: 160px;
  }

  .Fake-shuffle-btn{
    display: none;
  }
  .stop-button{
    color: rgb(160, 160, 160);
    font-weight: 300;
    font-size: 1.5rem;
    background-color:#232323;
    border: 0px;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .Full-height{
    height: 71vh;
  }
  h2{
    color: white;
    font-size: 1.744rem;
  }

  h3{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    font-size: 1.408rem;
  }

  p{
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
  }

  a{
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-decoration:none;
  }


  a:hover{
    color: #E18A35;
  }

  #Benefits-text{
    overflow-y: scroll;
  }

  .Wrapper {
    display:grid;
    grid-template-columns: repeat(8, auto);
    gap: 16px;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    padding-bottom: 10px;
    height: 64vh;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }

  .Call-action{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:3;
    padding-top: 100px;
    justify-self: center;
    margin-top: 35px;
  }


  .big-p{
    font-size: 1.125rem;
    margin-top: 0px;
  }


  .Color-circle{
    height: 180px;
    width: 360px;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    padding-top: 180px;
    margin-top: 100px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
  }

  .Random-button{
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
  }

  .Random-button:hover{
    opacity: 75%;
  }

  .Adjust-button:hover{
    opacity: 75%;
  }

  .Adjust-button{
    color: white;
    background-color: #232323;
    border: solid 1px white;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin-top: 20px;
  }
  .Exercise-gif{
    margin-left: -3vw;
    width: 90vw;
    position: absolute;
    top: 140px;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }

  .list-p{
    margin-top: 5px;
    padding-bottom: 18px;
  }

  h1{
    font-size: 2.76rem;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    margin: 0px;
  }

  .Secondary-hero{
    grid-column-start: 4;
    padding-top: 40px;
  }

  .Secondary-random-button{
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin-top: 80px;
    grid-column-start: 4;
    margin-left: 175px;
  }

  .Secondary-color-circle{
    height: 180px;
    width: 360px;
    justify-self: center;
    padding-top: 180px;
    margin-top: 80px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
    margin-left: 80px;
    grid-column-start: 4;
  }
  .Button-container-desktop{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:4;
  }
  .Button-container-mobile{
    display: none;
  }

  .stop-button{
    color: rgb(160, 160, 160);
    font-weight: 300;
    font-size: 1.5rem;
    background-color:#232323;
    border: 0px;
    position: absolute;
    top: 880px;
    left: 70px;
  }
}

@media (min-width: 1001px) and (max-width: 1199px) {
  .Full-height{
    height: 63vh;
  }
  h2{
    color: white;
    font-size: 1.744rem;
  }

  h3{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    font-size: 1.408rem;
  }

  p{
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
  }

  a{
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-decoration:none;
  }

  a:hover{
    color: #E18A35;
  }

  #Benefits-text{
    overflow-y: scroll;
  }

  .Wrapper {
    display:grid;
    grid-template-columns: repeat(8, auto);
    gap: 16px;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    padding-bottom: 10px;
    height: 64vh;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }

  .Exercise-gif{
    margin-left: -3vw;
    width: 90vw;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }

  .Call-action{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:3;
    padding-top: 100px;
    justify-self: center;
    margin-top: 35px;
  }


  .big-p{
    font-size: 1.125rem;
  }


  .Color-circle{
    height: 180px;
    width: 360px;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    padding-top: 180px;
    margin-top: 100px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
  }

  .Button-container-desktop{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:4;
    display:flex;
  }

  .Button-container-mobile{
    display: none;
  }


  .Random-button{
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
  }

  .Random-button:hover{
    opacity: 75%;
  }

  .Adjust-button:hover{
    opacity: 75%;
  }

  .Adjust-button{
    color: white;
    background-color: #232323;
    border: solid 1px white;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin-left: 20px;
  }



  .list-p{
    margin-top: 5px;
    padding-bottom: 18px;
  }


  h1{
    font-size: 2.76rem;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    margin: 0px;
  }



  .Secondary-hero{
    grid-column-start: 4;
    padding-top: 10px;
  }

  .Secondary-random-button{
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin-top: 80px;
    grid-column-start: 4;
    margin-left: 175px;
  }

  .Secondary-color-circle{
    height: 180px;
    width: 360px;
    justify-self: center;
    padding-top: 180px;
    margin-top: 80px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
    margin-left: 80px;
    grid-column-start: 4;
  }

  .Fake-shuffle-btn{
    position: absolute;
    top: 52px;
    right: 68px;
    background: none;
    border: none;
    color: white;
  }
  .stop-button{
    color: rgb(160, 160, 160);
    font-weight: 300;
    font-size: 1.75rem;
    background-color:#232323;
    border: 0px;
    position: absolute;
    bottom: 60px;
    left: 100px;
  }
}

@media (min-width: 1200px) {
  .Full-height{
    height: 63vh;
  }

  h2{
    color: white;
    font-size: 1.938rem;
  }

  h3{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    font-size: 1.563rem;
  }

  p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
  }

  a{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-decoration:none;
  }

  a:hover{
    color: #E18A35;
  }

  #Benefits-text{
    overflow-y: scroll;
  }

  .Wrapper {
    display:grid;
    grid-template-columns: repeat(8, 120px);
    gap: 16px;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    padding-bottom: 10px;
    height: 64vh;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }

  .Call-action{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:3;
    padding-top: 100px;
    justify-self: center;
    margin-top: 35px;
  }


  .big-p{
    font-size: 1.25rem;
  }


  .Color-circle{
    height: 180px;
    width: 360px;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    padding-top: 180px;
    margin-top: 100px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
  }

  .Button-container-desktop{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end:4;
    display:flex;
  }

  .Button-container-mobile{
    display: none;
  }

  .Random-button{
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
  }

  .Random-button:hover{
    opacity: 75%;
  }

  .Adjust-button:hover{
    opacity: 75%;
  }

  .Adjust-button{
    color: white;
    background-color: #232323;
    border: solid 1px white;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin-left: 20px;
  }

  .Exercise-gif{
    margin-top: 1vw;
    /* width: 90vw; */
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }

  .list-p{
    margin-top: 5px;
    padding-bottom: 18px;
  }

  h1{
    font-size: 3.062rem;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    margin: 0px;
  }


  .Secondary-hero{
    grid-column-start: 4;
    padding-top: 15px;
  }

  .Secondary-random-button{
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin-top: 80px;
    grid-column-start: 4;
    margin-left:55px;
  }

  .Secondary-color-circle{
    height: 180px;
    width: 360px;
    justify-self: center;
    padding-top: 180px;
    margin-top: 80px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
    margin-left: -80px;
    grid-column-start: 5;
  }

  .Fake-shuffle-btn{
    position: absolute;
    top: 52px;
    right: 160px;
    background: none;
    border: none;
    color: white;
  }
  .stop-button{
    color: rgb(160, 160, 160);
    font-weight: 300;
    font-size: 1.75rem;
    background-color:#232323;
    border: 0px;
    position: absolute;
    bottom: 60px;
    left: 120px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Color-circle {
    animation: App-logo-color infinite 10s linear;
    animation-direction: alternate;
  }
  .Secondary-color-circle {
    animation: App-logo-color infinite 10s linear;
    animation-direction: alternate;
  }

}


@keyframes App-logo-pulse {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes App-logo-color {
  0%   {background-color: #6DE5BB;}
  30%  {background-color: #CD44E8;}
  60%  {background-color: #E18A35;}
  100% {background-color: #6DE5BB;}
}
