@media (max-width: 768px) {
  .Full-height-2{
    height: 82vh;
  }

  .Secondary-random-button-mobile{
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 288px;
    height: 48px;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    margin-top: 40px;
  }

  .Secondary-random-button{
    display: none;
  }

  .Exercise-gif-random{
    padding-top: 115px;
    width: 80vw;
  }

  .Full-height-2-random{
    margin-top: -80px;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .Full-height-2{
    height: 91vh;
  }
  .rand-exercise-gif{
    width: 80vw;
  }

  .Secondary-random-button-mobile{
    display: none;
  }
}

@media (min-width: 1200px) {
  .Full-height-2{
    height: 91vh;
  }
  .Secondary-random-button-mobile{
    display: none;
  }
}

.Exercise-gif-random{
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}
