@media (max-width: 768px) {
  .Full-height-2{
    height: 82vh;
  }

  .Secondary-random-button-mobile{
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 288px;
    height: 48px;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    margin-top: 40px;
  }

  .Secondary-color-circle-2{
    width: 270px;
    height: 90px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    padding-top: 180px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .Secondary-random-button-2{
    display: none;
  }

  .Exercise-gif-random{
    padding-top: 115px;
    width: 80vw;
  }

  .Full-height-2-random{
    margin-top: -80px;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .Wrapper-2{
    display:flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
  }
  .Full-height-2{
    height: 91vh;
  }
  .rand-exercise-gif{
    width: 80vw;
  }

  .Secondary-random-button-mobile{
    display: none;
  }
  .Secondary-color-circle-2{
    height: 180px;
    width: 360px;
    padding-top: 180px;
    background-color: #6DE5BB;
    border-radius: 360px;
  }
  .Secondary-random-button-2 {
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin-top: 20px;
}
}

@media (min-width: 1200px) {
  .Wrapper-2{
    display:flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
  }
  .Full-height-2{
    height: 91vh;
  }
  .Secondary-random-button-mobile{
    display: none;
  }
  .Secondary-color-circle-2{
    height: 180px;
    width: 360px;
    padding-top: 180px;
    background-color: #6DE5BB;
    border-radius: 360px;
    display: block;
  }

  .Secondary-random-button-2 {
    color: #6DE5BB;
    background-color: #232323;
    border: solid 1px #6DE5BB;
    width: 192px;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    grid-column-start: 4;
  }
}

.Exercise-gif-random{
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}


@media (prefers-reduced-motion: no-preference) {
  .Color-circle {
    animation: App-logo-color infinite 10s linear;
    animation-direction: alternate;
  }
  .Secondary-color-circle-2 {
    animation: App-logo-color infinite 10s linear;
    animation-direction: alternate;
  }

}


@keyframes App-logo-pulse {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes App-logo-color {
  0%   {background-color: #6DE5BB;}
  30%  {background-color: #CD44E8;}
  60%  {background-color: #E18A35;}
  100% {background-color: #6DE5BB;}
}
