body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
}

html{
  font-size: 16px;
}



code {
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
}

h1{
  font-size: 3.062rem;
}

p{
  font-size: 1rem;
}
