.modal-content{
  width: 92vw;
  height: 88vh;
  /* background-color: #232323; /* mobile */
  /* background-color: #272727; desktop */
  opacity: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  padding:10px;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  /* Improve transition */
  transition: all 0.7s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  pointer-events: none;
}


@media (max-width: 768px) {
  .modal-content{
    background-color: #232323; /* mobile */
  }
  .close{
    position: absolute;
    top: 65px;
    right: 20px;
    background:none;
    border:none;
    color:rgb(156, 156, 156);
    font-size: 1.5rem;
  }
  .Adjust-exercise-gif{
    width: 90vw;
  }
}

/* for ipad air */
@media (min-width: 769px) and (max-width: 821px){
  .modal-content{
    background-color: #232323; /* mobile */
  }
  .Adjust-exercise-gif{
    width: 90vw;
  }
  .close {
      position: absolute;
      top: 95px;
      right: 65px;
      background: none;
      border: none;
      color: rgb(156, 156, 156);
      font-size: 2rem;
    }
}


@media (min-width: 822px) and (max-width: 1200px) {
  .modal-content{
    background-color: #272727; /* desktop */
  }

  .Adjust-exercise-gif{
    width:76vw;
  }

  .close{
    position: absolute;
    top: 60px;
    right: 65px;
    background:none;
    border:none;
    color:rgb(156, 156, 156);
    font-size: 2rem;
  }

  :hover.close{
    opacity: 90%;
  }
}

@media (min-width: 1201px) {
  .Adjust-exercise-gif{
    width:76vw;
  }

  .close{
    position: absolute;
    top: 65px;
    right: 80px;
    background:none;
    border:none;
    color:rgb(156, 156, 156);
    font-size: 2rem;
  }

  :hover.close{
    opacity: 90%;
  }
}
