.modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  /* Improve transition */
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}


.modal-content{
  width: 92vw;
  height: 88vh;
  background-color: #232323;
  opacity: 100%;
  border-radius: 10px;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding:10px;
  /* border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; */
}

.close{
  position: absolute;
  top: 74px;
  right: 84px;
  background:none;
  border:none;
  color:white;
  font-size: 2rem;
}

:hover.close{
  opacity: 90%;
}
