@media (max-width: 768px) {
  .modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Improve transition */
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
    pointer-events: none;
  }

  .modal.show {
    opacity: 1;
    pointer-events: visible;
  }


  .modal-content{
    width: 92vw;
    height: 88vh;
    background-color: #232323;
    opacity: 100%;
    border-radius: 10px;
  }


  .modal-body {
    padding:10px;
    /* border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; */
  }

  .close{
    position: absolute;
    top: 60px;
    right: 35px;
    background:none;
    border:none;
    color:rgb(156, 156, 156);
    font-size: 1.5rem;
  }
}


@media (min-width: 769px) and (max-width: 1200px) {
  .modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Improve transition */
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
    pointer-events: none;
  }

  .modal.show {
    opacity: 1;
    pointer-events: visible;
  }


  .modal-content{
    width: 92vw;
    height: 88vh;
    background-color: #232323;
    opacity: 100%;
    border-radius: 10px;
  }


  .Adjust-exercise-gif{
    width:80vw;
  }

  .modal-body {
    padding:10px;
    /* border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; */
  }

  .close{
    position: absolute;
    top: 60px;
    right: 65px;
    background:none;
    border:none;
    color:rgb(156, 156, 156);
    font-size: 2rem;
  }

  :hover.close{
    opacity: 90%;
  }
}

@media (min-width: 1201px) {
  .modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Improve transition */
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
    pointer-events: none;
  }

  .modal.show {
    opacity: 1;
    pointer-events: visible;
  }


  .modal-content{
    width: 92vw;
    height: 88vh;
    background-color: #232323;
    opacity: 100%;
    border-radius: 10px;
  }

  .modal-body {
    padding:10px;
    /* border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; */
  }

  .close{
    position: absolute;
    top: 65px;
    right: 80px;
    background:none;
    border:none;
    color:rgb(156, 156, 156);
    font-size: 2rem;
  }

  :hover.close{
    opacity: 90%;
  }
}
