h2{
  color: #6DE5BB;
  font-size: 1.938rem;
}

p{
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: white;
}

.flex{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items:center;

}

.nav-links{
  display:flex;
  padding-right: 100px;
  justify-content: space-between;
  width: 15%;
}

.pad-left{
  padding-left: 100px;
}
