@media (max-width: 480px) {
  .Nav-Bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  h2{
    color: white;
    font-size: 1.938rem;
  }

  a{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-decoration:none;
  }

  a:hover{
    color: #E18A35;
  }
  .Logo{
    color: white;
    font-size: 1.25rem;
    font-family:'Futura-Light';
  }
  .Why-breathe{
    justify-self: center;
    margin-top: 25px;
    margin-left: 10px;
  }

  .Why-breathe:hover{
    color: #E18A35;
  }

  .Shuffle{
    align-self: center;
    justify-self: start;
    margin-top: 25px;
    padding-left: 15px;
    color: white;
  }

  .Shuffle:hover{
    color: #E18A35;
  }

  .Shuffle-button{
    background: none;
    border: none;
  }

  .Shuffle-button:hover{
    color: #E18A35;
  }

  .Adjust{
    grid-column-start: 8;
    grid-column-end:9;
    grid-row-start: 1;
    grid-row-end:2;
    justify-self: end;
    margin-top: 25px;
    padding-right: 10px;
    color: white;
  }

  .Nav-items{
    /* display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center; */
    display: none;
  }

  .Adjust{
    margin-top: 30px;
  }

  .Hamburger{
    width:32px;
    height:24px;
    color: white;
    background: none;
    border:none;
  }

  .Hamburger-div{
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }

  .Hamburger-button{
    background: none;
    border:none;
  }

  .Logo-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}


@media (min-width: 1200px) {
  .Nav-Bar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
  }

  h2{
    color: white;
    font-size: 1.938rem;
  }

  a{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-decoration:none;
  }

  a:hover{
    color: #E18A35;
  }
  .Logo{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end:2;
    justify-self: center;
    margin-top: 40px;
    color: white;
    font-size: 1.938rem;
    font-family:'Futura-Light';
  }
  .Why-breathe{
    grid-column-start: 7;
    grid-column-end:8;
    grid-row-start: 1;
    grid-row-end:2;
    justify-self: center;
    margin-top: 25px;
    margin-left: 10px;
  }

  .Why-breathe:hover{
    color: #E18A35;
  }

  .Shuffle{
    grid-column-start: 8;
    grid-column-end:9;
    grid-row-start: 1;
    grid-row-end:2;
    align-self: center;
    justify-self: start;
    margin-top: 25px;
    padding-left: 15px;
    color: white;
  }

  .Shuffle:hover{
    color: #E18A35;
  }

  .Shuffle-button{
    background: none;
    border: none;
  }

  .Shuffle-button:hover{
    color: #E18A35;
  }

  .Adjust{
    grid-column-start: 8;
    grid-column-end:9;
    grid-row-start: 1;
    grid-row-end:2;
    justify-self: end;
    margin-top: 25px;
    padding-right: 10px;
    color: white;
  }

  .Nav-items{
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
  }

  .Adjust{
    margin-top: 30px;
  }
}
