
.Navigation{
  position: fixed;
  top: 0px;
  overflow: hidden;
}

.Nav{
  display: flex;
  padding-top: 20px;
  align-items:center;
  width: 100vw;
  justify-content: flex-end;
}

.Nav-logo{
  color: white;
  font-size: 1.938rem;
  font-family:'Futura-Light';
  position: absolute;
  left: 191px;
  top: 40px;
}

.Navbar-items{
  display:flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  margin-right: 170px;
}

.Nav-item{
  padding-right: 20px;
  padding-left: 20px;
}
